// Define desired color palettes.
$primary: "teal";
$accent: "light-green";
$warn: "pink"; // If desired, import the palettes and modify to your liking.
@import "color-palette";
@import "variables";
$color-teal: map-merge($color-teal, ('contrast': $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrast': $light-contrast-color));
@import "mdl-override";
@import 'ember-paper';
@import "helpers";
@import "flexboxgrid";
@import "tag-view";


body{
	background-color: $contentBg
}

.default-image {
	height: 120px;
	background-size: cover !important;
	background-color: #c2c2c2 !important;
}

.md-dialog-container {
  position: fixed;
  md-dialog{
    max-width: 98%;
    max-height: 98%;
  }

  .outfit-images-dialog {
    &.md-dialog-content{
      padding:0;
      img{max-width: 100%;}
    }
  }
}

.toolbar-action-btn{
  //position: absolute;
  //top:0;
  //right: 0;
}
