// Define desired color palettes.
$primary: "teal";
$accent: "light-green";
$warn: "pink"; // If desired, import the palettes and modify to your liking.
@import "color-palette";
@import "variables";
$color-teal: map-merge($color-teal, ('contrast': $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrast': $light-contrast-color));
@import "mdl-override";
@import 'ember-paper';
@import "helpers";
@import "flexboxgrid";


body{
	background-color: $contentBg
}
a.linked-card {
	color: inherit;
	text-decoration: none;
}


.image {
	padding: 5px 5px 0 0;

	img {
		width: 100%;
	}
}

.default-image {
	height: 100px;
	background-size: cover !important;
	background-color: #c2c2c2 !important;
}

.md-dialog-container {
	position: fixed;
}

.tags {
  padding:10px;
  .tag{
    background: white;
    display: flex;
    margin: 5px;
    h3{
      margin: 25px auto;
    }
  }
}
