.tags {
  padding: 10px;
  .tag {
    background: white;
    display: flex;
    margin: 5px;
    h3 {
      margin: 25px auto;
    }
  }
}

.image {
  margin: 5px 0 0 5px;
  position: relative;

  img {
    width: 100%;
  }
}
.selectable {
  position: relative;
  .selectable-mask{
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;

  }
  .selected {
    border: 3px solid $selectedBg;
    @include box-sizing(border-box);
    &:before {
      content: '\25E5';
      color: $selectedBg;
      position: absolute;
      right: -3px;
      top: -17px;
      font-size: 35px;
      z-index: 95;
    }
    &:after {
      content: '\2713';
      color: white;
      position: absolute;
      top: -5px;
      right: -2px;
      font-weight: lighter;
      font-size: smaller;
      z-index: 99;
    }
  }
}
