{{#link-to 'outfits.new' class="new-outfit-link" }}
  {{#paper-button raised=true fab=true primary=true}}{{paper-icon 'add'}}{{/paper-button}}
{{/link-to}}

{{#paper-grid-list md-cols-xs="2" md-cols="3" md-row-height="1:1.5" md-gutter="4px" }}
  {{#each model as |outfit|}}
    {{#paper-grid-tile }}
      {{#paper-card class="flex" as |card|}}
        {{#link-to 'outfits.show' outfit class="linked-card" }}
          <div class="default-image" style= {{outfit.imageBg}}></div>
          {{#card.content}}
            <p>{{outfit.name}} </p>
          {{/card.content}}
        {{/link-to}}
        {{#card.actions class="layout-row layout-align-start-center" as |actions|}}
          {{#actions.icons}}
            {{#paper-button iconButton=true onClick=(action "addToFavorite" outfit) primary=outfit.isFavorite}}
              {{paper-icon 'favorite'}}
            {{/paper-button}}
          {{/actions.icons}}
        {{/card.actions}}
      {{/paper-card}}
    {{/paper-grid-tile}}
  {{/each}}
{{/paper-grid-list}}
