{{!-- {{#gesture-recogizer}}{{/gesture-recogizer}} --}}
{{#gesture-recognizer}}
  {{#paper-sidenav-container class="inner-sidenav" }}
    <div layout="column" role="main" flex>
      {{#paper-content }}
        {{liquid-outlet}}
      {{/paper-content}}
    </div>
  {{/paper-sidenav-container}}
{{/gesture-recognizer}}
