{{!-- {{#gesture-recogizer}}{{/gesture-recogizer}} --}}
{{#gesture-recognizer}}
  {{#paper-sidenav-container class="inner-sidenav" }}

    <div layout="column" role="main" flex>
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Tidy Closet</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-content }}
        {{liquid-outlet}}
      {{/paper-content}}
    </div>
  {{/paper-sidenav-container}}
{{/gesture-recognizer}}
