{{partial 'tags-toolbar'}}
<div class="tags grid">
  {{#each tags as |tag|}}
      <div class="col-xs-6 col-sm-4">
        {{#link-to 'tags.show' tag tagName="div" class="tag box-shadow-4"}}
            <h3>{{tag.name}}</h3>
        {{/link-to}}
      </div>
  {{/each}}
</div>

